
@{
    ViewBag.Title = "Strona nie istnieje";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <div class="main-header user-login-panel">
        <div class="main-header">
            <div class="form form-simple form-login">
                <h1>Nie znaleziono strony</h1>

                <div class="row">
                    Link jest nie prawidłowy albo strona nie istnieje.
                </div>
                <a href="javascript:history.back()">
                    <button class="btn-header">Powrót</button>
                </a>
            </div>
        </div>
    </div>