@model RoomMate.Entities.Users.User
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Przypomnij hasło";
}

<div class="main-header">

    <div class="main-header user-login-panel">
        <div class="txt-header-simple">
            <h1>ZRESETUJ HASŁO</h1>
        </div>
        @using (Html.BeginForm("RemindPassword", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    <div class="form form-simple">

        <div class="desktop-txt">
            <h1>ZRESETUJ HASŁO</h1>
        </div>

        @if (ViewBag.Message != null)
        {
            <span class="badge badge-danger">@ViewBag.Message</span>
        }
        else
        {
            <p>
                Podaj adres e-mail związany z Twoim kontem. Prześlemy tam link do zmiany hasła.
            </p>
            if (ViewBag.Error != null)
            {
                <span class="text-error">@ViewBag.Error</span>
            }
            <div class="row">
                @Html.TextBoxFor(m => m.Email, "", new { @class = "input-header", @placeholder = "Email" })
            </div>
            <div class="row">
                <input type="submit" name="submit" class="btn-header" value="Wyślij" />
            </div>
        }
    </div>
        }
    </div>
</div>