@model RoomMate.Entities.Users.User
@{
    ViewBag.Title = "ResetPassword";
}

<h2>VerifyAccount</h2>

@if (ViewBag.RestPasswordCodeStatus == true)
{
    <div class="form form-simple" style="padding-bottom:29px">
        <div class="row">
            <div class="desktop-txt">
                <h1>Zresetuj hasło</h1>
            </div>
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserID, htmlAttributes: new { @Value = ViewBag.UserID })

                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.PasswordHash)
                    @Html.TextBoxFor(m => m.PasswordHash, "", new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Zresetuj hasło" />
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="form form-simple">
        <div class="row">
            <div class="desktop-txt">
                <h1>Coś poszło nie tak!</h1>
            </div>
            <p>Link jest nie aktualny lub został już wykorzystany.</p>
        </div>
    </div>
}