@model RoomMate.Entities.RoomControllerViewModels.RoomViewModel

@{
    ViewBag.Title = "BookingRoom";
    Layout = "~/Views/Shared/_RoomMateLayout.cshtml";
}

<h2>Udało Ci się zarejestrować nocleg!</h2>

